<section class="corse-component-bg bg-info">
    <div class="container">
        <div class="row play-course-mid">
            <div class="col-12">
                <form class="start-course mx-auto">
                    <input type="button" class="btn bg-transporant" value="Start Course" (click)="startCourse()">
                </form>
            </div>
            <div class="col-12">
                <form class="start-course mx-auto">
                    <input type="button" class="btn bg-transporant" value="Resume Course" (click)="resumeCourse()">
                </form>
            </div>
            <div class="col-12">
                <form class="start-course mx-auto">
                    <input type="button" class="btn bg-transporant" value="Play Course at Chapter" (click)="playCourseAtChpater()">
                </form>
            </div>
            <div class="col-12">
                <form class="start-course mx-auto">
                    <input type="button" class="btn bg-transporant" value="Youtube Course Play" (click)="youtubeCourse()">
                </form>
            </div>
            <div class="col-12">
                <form class="start-course mx-auto">
                    <input type="button" class="btn bg-transporant" value="Office 365 Video" (click)="officeCourse()">
                </form>
            </div>
        </div>
    </div>
</section>